<a href="https://colab.research.google.com/github/se3basstiann-blip/F25-MAT-1630/blob/main/MAT_1630_9_17_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Common loops

## Sum and Average Values

In [ ]:
total = 0.0
inputStr = input("Enter value: ")
while inputStr != "" :
   value = float(inputStr)
   total = total + value
   inputStr = input("Enter value: ")

Enter value: 30
Enter value: 34
Enter value: 3
Enter value:

Modify to stop adding values

**Exercise:** Fix and improve this code:

In [ ]:
total = 0.0
count = 0
inputStr = input("Enter value: ")
while inputStr != "" :
value = float(inputStr)
total = total + value
count = count + 1
inputStr = input("Enter value: ")
if count > 0 :
average = total / count
else :
average = 0.0

IndentationError: expected an indented block after 'while' statement on line 4 (ipython-input-502247946.py, line 5)

In [ ]:

total = 0.0
count = 0

inputStr = input("Enter a number (or press Enter to stop): ")

while inputStr != "":
    try:
        value = float(inputStr)
        total += value
        count += 1
    except ValueError:
        print("Invalid input. Please enter a valid number.")

    inputStr = input("Enter a number (or press Enter to stop): ")

if count > 0:
    print(f"\nYou entered {count} numbers.")
    print(f"Total = {total}")
    print(f"Average = {total / count}")
else:
    print("\nNo numbers were entered.")

Enter a number (or press Enter to stop): 3

# Functions (Review)

In [ ]:
##
# This program computes the volumes of two cubes.
#

def main() :
    result1 = cubeVolume(2)
    result2 = cubeVolume(10)
    print("A cube with side length 2 has volume", result1)
    print("A cube with side length 10 has volume", result2)

## Computes the volume of a cube.
# @param sideLength the length of a side of the cube
# @return the volume of the cube
#
def cubeVolume(sideLength) :
    volume = sideLength ** 3
    return volume

# Start the program.
main()

A cube with side length 2 has volume 8
A cube with side length 10 has volume 1000

**Exercise** Write the following functions and provide a program to test them.
 * def smallest(x, y, z) (returning the smallest of the arguments)


* def average(x, y, z) (returning the average of the arguments)

In [ ]:


def smallest(x, y, z):
    return min(x, y, z)

def average(x, y, z):
    return (x + y + z) / 3

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

print(f"\nThe smallest number is: {smallest(a, b, c)}")
print(f"The average is: {average(a, b, c)}")

# What's a list?

A list is an ordered, mutable collection of items. Items can be any type (numbers, strings, even other lists).

In [ ]:
nums = [10, 20, 30]
words = ["apple", "banana", "cherry"]
mixed = [42, "hello", 3.14, True]
empty = []

Indexing & slicing

Indexing starts at 0.

Negative indexes count from the end.

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]
fruits[0]      # "apple"
fruits[-1]     # "date"
fruits[1:3]    # ["banana", "cherry"]
fruits[:2]     # ["apple", "banana"]
fruits[::2]    # every 2nd item -> ["apple", "cherry"]

['apple', 'cherry']

Lists are mutable (you can change them)

In [ ]:
nums = [1, 2, 3]
nums[1] = 200           # [1, 200, 3]
nums.append(4)          # [1, 200, 3, 4]
nums.extend([5, 6])     # [1, 200, 3, 4, 5, 6]
nums.insert(2, 999)     # [1, 200, 999, 3, 4, 5, 6]
del nums[3]             # remove by index -> [1, 200, 999, 4, 5, 6]
val = nums.pop()        # pops last (returns it) -> val=6
nums.remove(999)        # remove by value (first match)

## Useful operations & functions

In [ ]:
x = [3, 1, 2, 3, 2, 3]

len(x)          # 6
x.count(3)      # 3 (how many 3s)
x.index(2)      # 2 (first index of 2)

sorted(x)       # returns NEW sorted list -> [1, 2, 2, 3, 3, 3]
x.sort()        # sorts IN PLACE
x.reverse()     # reverse IN PLACE

3 in x          # membership test (True/False)
sum([1,2,3])    # 6 (numbers only)
min(x), max(x)  # smallest, largest

(1, 3)

## Looping

In [ ]:
pets = ["cat", "dog", "parrot"]

for p in pets:
    print(p)

for i, p in enumerate(pets):
    print(i, p)   # index + value

cat
dog
parrot
0 cat
1 dog
2 parrot